.cards-content{
    background: black;
    margin-top: -30px;
    margin-bottom: -30px; 
}

.service-title{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}