.container-portfolio{
    flex-direction: column;
    width: 100%;
    background: black;
}

.title-portfolio{
   text-align: center;
   font-size: 60px;
   color: white;
   padding-top: 50px;
   padding-bottom: 50px;
}