 .footer {
    display: flex;
    text-align: center;
    justify-content: center;
    background: #427bc9;
    height: 25vh;
 }

 .container-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
 }

 .ubication{
    display: flex;
 }

 .icon-location{
    font-size: 30px;
    margin-right: 20px;
    color: black;
 }

.email{
    display: flex;
    margin-bottom: 5px;
 }

 .text-email{
    margin-top: 8px;
 }

 .container-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
 }

 .icon{
    margin: 0 10px;
    color: black;
 }

.design-by{
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

 .icon-gmail {
    margin-right: 20px;
    color:black;
    
} 

@media only screen and (max-width: 960px){
   .footer{
    flex-direction: column;
    height: 40vh;
   }

   .container-info{
    margin-right: 0px;
    margin-bottom: 30px;
 }

 .container-links{
    margin-left: 0px;
    margin-top: 20px;
 }

 .design-by{
    margin-bottom: 30px;
    justify-content: center;
}



}