* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'quicksand' , sans-serif;
  /* font-family: 'Roboto', sans-serif; */
 }

 @media (max-width: 768px){

 .App{
    width: auto;
 }
}

@media only screen and (max-width: 960px){

  .App{
    width: auto;
 }
}